/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./app/styles/colors";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.image-center {
    text-align: center; 
    vertical-align: middle;
}

.image-size {
    width: 20%;
    height: auto;
}

.static-table {
    position: relative;
    max-height: 500px;
    overflow: auto;
}

.notSelected {
    color: #0000008a;
}

.selected{
    color: #fec957;
}

.sidenav-container {
    height: 100%;
    background-color: $backgroundGrey;
  }

.mat-toolbar{
    background: $casandoraYellow;
    color: black;
    font-weight: bold;
}

.fav-button-color {
    background-color: $casandoraYellow !important;
    color: black !important;
}

//Margins and paddings
.pt-2p {
    padding-top: 2%
}

.pl-1p {
    padding-left: 1%
}

.mt-1p {
    margin-top: 1% !important;
}

.mt-5p {
    margin-top: 5% !important;
}

.mt-10p {
    margin-top: 10% !important;
}


.mr-10p {
    margin-right: 10% !important;
}

.mr-20p {
    margin-right: 20% !important;
}

//Aligns
.align-right {
    float: right;
    margin-left: auto;
    margin-right: 0%;
    justify-content: flex-end;
    display: flex;
}

.position-relative{
    position: relative;
  }

  .align-content-center {
    text-align: center; 
    vertical-align: middle;
}

//Sizes
.size-80 {
    width: 80%;
    margin: auto;
}

.size-90 {
    width: 90%;
    margin-left: auto;
}


