table {
    width: 100%;
  }

  .textfield {
    font-size: 17px;
    width: 80%;
  }

  .fav-button {
    background: #fec957;
    color: #000000d7;
  }

  
  .table-cell {
    width: 14%;
    text-align: center !important; 
    vertical-align: middle;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
  }

  th {
    .mat-sort-header-button-center {
      position: relative;
      top: 50%;
      left: 50%;
    }
  }

  .notSelected {
    color: #0000008a;
  }

  .selected{
    color: #fec957;
  }
  