table {
    width: 100%;
  }

  .textfield {
    font-size: 17px;
    width: 80%;
    padding-top: 2%;
    padding-left: 1%;
  }

  .fav-button{
    margin-top: 3%;
    margin-left: 85%;
    background: #fec957;
    color: #000000d7;
  }
  
  td, th {
    width: 20%;
  }

  .notSelected {
    background: #c8d6e5;
    color: #0000008a;
  }

  .darkYellow{
    background: #c8d6e5;
    color: #fec957;
  }
  